body {
	background-image: linear-gradient(#2C3E50,#566573,#808B96);
}

.container {
	background-color: #424949;
	margin: 0 auto;
	width: 400px;
	height: 600px;
	border-color: #17202A;
	border-radius: 10px;
	border-width: medium;
	border-style: solid;
}
.header {
	height: 45px;
	background-color: #17202A;	
}

.head {
	padding-top: 3px;
	margin:0 0;
	text-align: center;
	text-transform: uppercase;
	color:#ECF0F1;
}

p {
	padding-left: 15px;
	color:#ECF0F1;
	font-size: 20px;
}

input:hover {
	border:2px solid red;
}

#billamt {
	height: 25px;
	font-size: 15px;
	padding-left: 5px;
	border-radius:3px;
	margin-left: 5px;
}

#serv {
	color: #17202A;
	height: 30px;
	font-size: 18px;
	padding-left: 5px;
	border-radius:3px;
	margin-left: 22px;
}

#nump {
	height: 25px;
	font-size: 15px;
	padding-left: 5px;
	border-radius:3px;
	margin-left: 36px;
}

.calculate {
	display: block;
	text-align: center;
	font-size: 25px;
	margin: 30px auto;
	border-radius: 5px;
	background-color: black;
	color: white;
	border:2px solid black;
	padding: 5px 5px 5px 5px;
	font-family: helvetica;
}

.calculate:hover {
	background-color: #4A235A;
	border:3px solid #4A235A;
	box-shadow: 2px 2px 2px 2px black;
}

#total {
	display: none;
}

#tiptext {
	color: #FFB300 ;
	font-size: 30px;
	text-transform: uppercase;
	font-family: impact;
}

#ttip {
	font-family: helvetica;
	color: #FFB300 ;
	font-size: 25px;
	margin-left: 50px;
}

#each {
	font-size: 10px;
}